# Finder's configuration files (Mac).
.DS_Store

# Node.js modules.
node_modules/

# NPM's shrinkwrap.
npm-shrinkwrap.json

# Yarn's lockfile, Plug'n'Play, folder and settings.
yarn.lock
.pnp.*
.yarn/
.yarnrc
.yarnrc.yaml

# pnpm's lockfile, workspace definitions and hooks.
pnpm-lock.yaml
pnpm-workspace.yaml
pnpmfile.js

# Log files.
*.log
*.log.*

# Other
.idea/
*.commit
